*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100dvh;
     background-color: rgb(189, 194, 202);


}
.menu img{
 width:100px;
 height: 60px;
 margin-left: 10px;
 z-index: 1;


 
}
.menu{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid black;
    z-index: 1;

}
.menu ul{
    display: flex;
    list-style-type: none;
    z-index: 1;

}
.menu li{
    width:100px;
    text-align: center;
}
.menu li a{
    color:black;
    text-decoration: none;
    display:block;
    padding: 12px;
    margin: 5px;
}
.menu li a:hover{
    color: bisque;
}
.icon{
    margin-right: 10px;
}
.section1{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.head{
text-transform: capitalize;
flex-direction: column;
justify-content: center;
align-items: flex-start;
display: flex;
height: 400px;
width: 50%;
position: relative;
left:20%;
top:70%;
gap:20px;
}
.head h1{
    font-size: 3.5rem;
    


}

.container{
    background-image: url("./img/startbackground.jpg");
    width:100dvw;
    height: 100dvh;
    background-repeat: no-repeat;
    background-size: cover;
}
.head p{
    font-size: 1.1rem;
    line-height: 1.5;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;

}
/* button parent */
 .button{
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    /* background-color: #f0f0f0; */
    
}  
/* class btns child  */
.btn{
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.btn:hover{
    background-color: #0056b3;
}
 button[type="button"]{
    background: black;
    color: white;
    border-radius: 20px;
    width: 100px;
    height: 30px;
} 
button[type="button"]:hover{
    background-color: red;
} 
.copy-rigth{
    height: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
footer{
    background-color: gray;
    border-top: 1px solid black;
}
footer h2{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-bottom{
    position: relative;
    top:-50px;
    
}

/*  om oss styla */
.container-om-oss{
    width: 100dvw;
    height: 30%;
    background-image: url("./img/om oss background.png");
    background-size: 100dvw;
    background-repeat: no-repeat;
    background-position: 70%;


}
.section-one-om-oss{
    width:100%;
    height: 200px;
    display: flex;
    justify-content:center ;
    align-items: center;
}
.header-om-oss{
    width:70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.header-om-oss h1{
    font-size: 2rem;
    text-transform: capitalize;

    
}
.header-om-oss p{
    font-size: 1.1rem;
    line-height: 1.6;
    text-transform: capitalize;
    /* width: 50%; */
height: 100px;
width: 50%;


}

.section-two-om-oss{
    width: 100dvw;
    height: 700px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    gap:10px;
}
.om-oss{
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    padding: 10px;

}
.om-oss img{
    width:80%;
    height: 70%;
}
.om-oss p{
    width:50%;
}
.v책r-historia{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    padding: 10px;
}
.v책r-historia img{
    width:80%;
    height: 60%;
}
.v책r-historia p{
    width:50%;
}
.container-two-om-oss{
    width: 100dvw;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.section-three-om-oss{
    width: 100dvw;
    height: 580px;
display: flex;
flex-direction: row;
justify-content: center;
    align-items: center;
    gap: 10px;

}
.container-two-om-oss h3{
text-transform: capitalize;
font-family: Arial, Helvetica, sans-serif;
color:rgb(102, 3, 138)
}
.anstalld{
    width: 100%;
    height: 100%;
    display: flex;
flex-direction: column;
justify-content: center;
    align-items: center;
    background-color: white;
    gap: 10px;
    padding: 20px;
    opacity: 0.8;
}
.anstalld:hover{
    transform: translateY(-2px) scale(1.05);
    transition: 1s 0s linear;
}
.anstalld img{
    width: 90%;
    height: 70%;
   
}



/* kontakt sida */

.wrapper-kontakt{
    width: 100dvw;
    height: 100%;
    background-image: url("./img/kontakt\ background.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    gap:30px;
}
.section-kontakt{
    width: 100dvw;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content:space-evenly ;

}

.container-kontakt-sida{
    width:80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}
.section-kontakt h1{
    
    font-size: 3rem;
    text-transform: uppercase;
    width: 300px;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    opacity: 0.7;
    color:gray;
    display: flex;
    
    box-shadow: 1px 1px 0px 2px inset;
    
}
.section-kontakt h1:hover{
    color: rgb(224, 174, 114);
    background-color:rgb(107, 33, 33);
}


.container-kontakt-sida {
    width: 65%;
    height: 75%;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   opacity: 0.7;
   background-color: #fff;
   padding: 0px 20px;


}
.container-kontakt-sida ul{


    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap:20px;

}
.container-kontakt-sida li {
  

}
.container-kontakt-sida li a{
list-style-type: none;
font-size: 1rem;
text-transform: capitalize;
font-weight: bolder;
text-decoration: none;
color:black;
font-family: cursive;
width:100%;
display: block;

}
.container-kontakt-sida ul li a:hover{
    transform: translateY(-10px) scaleY(1.2);
    transition: 1s 0s ease-in-out;
    color: red;
}
.form{
    width:100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    opacity: 0.8;
    background-color:rgb(104, 100, 100);}
.container-input{
    width:100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}
#name{
    width:250px;
    height:40px;
}
#mail{
    width:250px;
    height:40px;
}
.container-input label{
text-transform: uppercase;
font-weight: bold;
}

h3{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color:rgb(22, 214, 8)
}
textarea{
   width:50%;
   height: 50%;
}
.checkbox{
    display: flex;
      gap:20px
}
.checkbox label{
    color:rgb(235, 5, 47);

}
.checkbox label span{
    font-weight: bolder;
}
 input[type="submit"]{
    background-color: black;
    height: 10%;
    color: #fff;
    font-weight: bolder;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: unset;
}
/*   produkter sida styla */

.container-produkter{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0px
}
.section-produkter{
width: 90%;
height: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap:20px;

}
.foto{
    width: 500px;
    height: 450px;
    display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
gap:5px;
perspective:5000px;
transform-style: preserve-3d;

}
.foto img{
    width:430px;
    height:360px;
}
.foto img:hover{
    transform: scale(1.1);
    transform: rotateY(360deg);
    transition: 2s 0s linear;

}
.container-produkter h1{
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    display: flex;
    align-items: center;

}
.foto p{
    text-transform: capitalize;
    font-size: 1.1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color:rgb(237, 6, 6);
     font-weight: bold;
}
.price{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
}
.input{
    background-color: rgb(161, 156, 163);
    width: 150px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
    border-radius: 10px;
    margin-top: 5px;
}
/* .input input{ 
    width: 120px;
    height: 40%;
    background-color: #870421;
    color:white;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     letter-spacing: 1px;
}
.input:hover{
    background-color: rgb(227, 173, 108);
    transition: 1s;
}
.input p{
    color:black;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: lighter;

} 
input:hover{
    background-image:linear-gradient(to bottom,rgb(150, 42, 2) 20%,rgb(164, 52, 11) 40% ,rgb(222, 67, 11)) ;
    transition: 1s;
    color:blue

}

*/

/*  ref sida styla */

.wrapper-ref{    
    
    background-repeat: no-repeat;
    background-position:center;
    height: 120dvh;
    background-image:url("./referense foto/ref-background.png") ;
     background-size: cover;
}
.container-refenser{
    height: 120dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.section-one-referense{
height: 90%;
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
gap: 15px;

}

.foretag-logo{
    height: 20%;
width: 25%;
display: flex;
justify-content: center;
align-items: center;
background-color:white;
box-shadow: 1px 1px 2px 2px inset;
color:black;
z-index: 1;


}
.foretag-logo:hover{
    transform: rotateX(360deg);
    transition: transform 1.5s 0s ease-in;
    box-shadow: 1px 1px 2px 2px inset;
    color:rgb(0, 0, 243);

}
.foretag-logo img{
    height: 80%;
    width: 90%;
}
.container-refenser h1{
    height: 400px;
    font-size: 2.5rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    color:rgb(227, 10, 10);
    z-index: 1;

}

.container-refenser h1:hover{
    color:rgb(227, 149, 4);
}
.animate{
    
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:white;
opacity: 0.4;
animation: circle 12s 0s linear  infinite ;
   
}
.animate.two{
    animation: circle   12s 0.5s linear  infinite ;

}
.animate.three{
    animation: circle  12s 1s linear  infinite ;

}
.animate.four{
    animation: circle  12s 1.7s linear  infinite ;

}
.animate.five{
    animation: circle  12s  2.4s linear  infinite ;

}
.animate.six{
    animation: circle  12s 3.1s linear  infinite ;

}
.animate.seven{
    animation: circle  12s 3.8s linear  infinite ;

}
.animate.eigth{
    animation: circle  12s 4.5s linear  infinite ;

}

.animi{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top:0px;
    width: 100%;
    height: 100dvh;

}
@keyframes circle{
    0%{
       transform: translateY(0%) scale(0);

    }
    100%{
        transform: translateY(120dvh) scale(1);

    }
}





/*    media querie start sida*/

@media(max-width:900px){
   
    body{
        width: 110%;
        height: 100dvh;
         background-color: rgb(189, 194, 202);

    
    
    }
    .menu img{
     width:70px;
     height: 60px;
     
    }
    .menu{
        width: 100%;
        
    }
   
   
  
    .icon{
        margin-right: 10px;
    }
    
    .wrapper{
        width:100%;
        height: 100%;
      }
    
    .head h1{
        font-size: 1.5rem;
    
    }
    
    .container{
        background-image: url("./img/startbackground.png");
        
        background-repeat: no-repeat;
        background-size: cover;
        background-position:19%;
        width: 150%;
        height: 150dvh;
    }
    .head p{
        font-size: 1rem;
    
    }
    
  
  
    footer{
        background-color: gray;
        border-top: 1px solid black;
        width: 150%;
    }
    .icon{
        display: flex;
    }
 
     /*    media querie  om oss*/

/*  om oss styla */
.container-om-oss{
    width: 150%;
    height: 30%;
    background-image: url("./img/om oss background.png");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 70%;


}

.header-om-oss{
    width:70%;
   
    /* left:700px; */
}
.header-om-oss h1{
    font-size: 1.5rem;
    text-transform: capitalize;

    
}
.header-om-oss p{
    font-size: 1rem;
 
width: 80%;


}

.section-two-om-oss{
    width: 150%;
   
}


.om-oss p{
    width:70%;
}

.v책r-historia p{
    width:70%;
}
.container-two-om-oss{
    width: 150%;

}

/*     media queri produkter sida */



.container-produkter{
    width:150%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.section-produkter{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

gap:20px;

}
.foto{
    width: 100%;
    height: 450px;
}
.foto img{
    width:70%;
    height:70%;
}

.container-produkter h1{
   font-size: 1rem;
   width: 70%;
 display: flex;
 justify-content: center;
 align-items: center;

}

     /*    media querie  kontakt*/



/* kontakt sida */


/* kontakt sida */
.wrapper-kontakt{
    background-image: url("./img/kontakt\ background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 140dvh;
    width: 150%;
}

  


    /* media querie referense */

.wrapper-ref{    
    
    height: 150dvh;
    width: 150%;

}
.container-refenser{
    height: 100dvh;
    width: 100%;
  }
.section-one-referense{
height: 90%;
width: 100%;

gap: 5px;

}

.foretag-logo{
    height: 12%;
width: 50%;
display: flex;
flex-wrap: wrap;
justify-content: center;
flex-direction: column;



}

.foretag-logo img{
    height: 80%;
    width: 80%;
}

@keyframes circle{
    0%{
       transform: translateY(0%) scale(0);

    }
    100%{
        transform: translateY(150dvh) scale(1);

    }
}



}


.checked{
    color: orange;
}