*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100dvh;
     background-color: rgb(189, 194, 202);


}
.menu img{
 width:100px;
 height: 60px;
 margin-left: 10px;
 z-index: 1;


 
}
.menu{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid black;
    z-index: 1;

}
.menu ul{
    display: flex;
    list-style-type: none;
    z-index: 1;

}
.menu li{
    width:100px;
    text-align: center;
}
.menu li a{
    color:black;
    text-decoration: none;
    display:block;
    padding: 12px;
    margin: 5px;
}
.menu li a:hover{
    color: bisque;
}
.icon{
    margin-right: 10px;
}
.section1{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.head{
text-transform: capitalize;
flex-direction: column;
justify-content: center;
align-items: flex-start;
display: flex;
height: 400px;
width: 50%;
position: relative;
left:20%;
top:70%;
gap:20px;
}
.head h1{
    font-size: 3.5rem;
    


}

.container{
    background-image: url("./img/startbackground.png");
    width:100dvw;
    height: 100dvh;
    background-repeat: no-repeat;
    background-size: cover;
}
.head p{
    font-size: 1.1rem;
    line-height: 1.5;

}
/* button parent */
 .button{
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    /* background-color: #f0f0f0; */
    
}  
/* class btns child  */
.btn{
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.btn:hover{
    background-color: #0056b3;
}
 button[type="button"]{
    background: black;
    color: white;
    border-radius: 20px;
    width: 100px;
    height: 30px;
} 
button[type="button"]:hover{
    background-color: red;
} 
.copy-rigth{
    height: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
footer{
    background-color: gray;
    border-top: 1px solid black;
}
footer h2{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-bottom{
    position: relative;
    top:-50px;
    
}

/*  om oss styla */
.container-om-oss{
    width: 100dvw;
    height: 30%;
    background-image: url("./img/om oss background.png");
    background-size: 100dvw;
    background-repeat: no-repeat;
    background-position: 70%;


}
.section-one-om-oss{
    width:100%;
    height: 200px;
    display: flex;
    justify-content:center ;
    align-items: center;
}
.header-om-oss{
    width:70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.header-om-oss h1{
    font-size: 2rem;
    text-transform: capitalize;

    
}
.header-om-oss p{
    font-size: 1.1rem;
    line-height: 1.6;
    text-transform: capitalize;
    /* width: 50%; */
height: 100px;
width: 50%;


}

.section-two-om-oss{
    width: 100dvw;
    height: 700px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    gap:10px;
}
.om-oss{
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    padding: 10px;

}
.om-oss img{
    width:80%;
    height: 70%;
}
.om-oss p{
    width:50%;
}
.vår-historia{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    padding: 10px;
}
.vår-historia img{
    width:80%;
    height: 60%;
}
.vår-historia p{
    width:50%;
}
.container-two-om-oss{
    width: 100dvw;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.section-three-om-oss{
    width: 100dvw;
    height: 580px;
display: flex;
flex-direction: row;
justify-content: center;
    align-items: center;
    gap: 10px;

}
.anstalld{
    width: 100%;
    height: 100%;
    display: flex;
flex-direction: column;
justify-content: center;
    align-items: center;
    background-color: white;
    gap: 10px;
    padding: 20px;
    opacity: 0.8;
}
.anstalld:hover{
    transform: translateY(-2px) scale(1.05);
    transition: 1s 0s linear;
}
.anstalld img{
    width: 90%;
    height: 70%;
   
}



/* kontakt sida */

.container-kontakt-sida{
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap:10px;
    background-image: url("./img/kontakt\ background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}
.section-kontakt-sida{
    height: 100dvh;
width: 80%;    
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-kontakt-sida h1{
    font-size: 3rem;
    text-transform: uppercase;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-kontakt-sida ul{
   height: 70%;
   width: 600px;
list-style-type: none;
display: flex;
align-items: center; 
   flex-direction: column;
   background-color: white;
   justify-content: center;
  
   gap:15px;
   opacity: 0.7;

}

.section-kontakt-sida li{
list-style-type: none;
font-size: 1rem;
text-transform: capitalize;
font-style: italic;
font-weight: bolder;
line-height: 2;
padding: 15px;
width: 320px;

}
.section-kontakt-sida li:hover{
    transform: translateY(-10px) scaleY(1.2);
    transition: 1s 0s ease-in-out;
    color: red;
}

/*   produkter sida styla */

.container-produkter{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0px
}
.section-produkter{
width: 90%;
height: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap:20px;

}
.foto{
    width: 500px;
    height: 450px;
    display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
gap:5px;
perspective:1000px;
transform-style: preserve-3d;
}
.foto img{
    width:400px;
    height:400px;
}
.foto img:hover{
    transform: scale(1.2);
    transform: rotateY(360deg);
    transition: 2s 0s linear;

}
.container-produkter h1{
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    display: flex;
    align-items: center;

}
.foto p{
    text-transform: capitalize;
    font-size: 1.2rem;

}




/*  ref sida styla */

.wrapper-ref{    
    
    background-repeat: no-repeat;
    background-position:center;
    height: 120dvh;
    background-image:url("./referense foto/ref-background.png") ;
     background-size: cover;
}
.container-refenser{
    height: 120dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.section-one-referense{
height: 90%;
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
gap: 15px;

}

.foretag-logo{
    height: 20%;
width: 25%;
display: flex;
justify-content: center;
align-items: center;
background-color:white;
z-index: 1;


}
.foretag-logo:hover{
    transform: rotateX(360deg);
    transition: transform 1.5s 0s ease-in;
}
.foretag-logo img{
    height: 80%;
    width: 90%;
}
.container-refenser h1{
    height: 400px;
    font-size: 2.5rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    color:rgb(227, 10, 10);
    z-index: 1;

}

.container-refenser h1:hover{
    color:rgb(227, 149, 4);
}
.animate{
    
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:white;
opacity: 0.4;
animation: circle 6s 0s linear  infinite ;
   
}
.animate.two{
    animation: circle 6s 1s linear  infinite ;

}
.animate.three{
    animation: circle 6s 2s linear  infinite ;

}
.animate.four{
    animation: circle 6s 3s linear  infinite ;

}
.animate.five{
    animation: circle 6s 4s linear  infinite ;

}
.animi{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top:0px;
    width: 100%;
    height: 100dvh;

}
@keyframes circle{
    0%{
       transform: translateY(0%) scale(0);

    }
    100%{
        transform: translateY(120dvh) scale(1);

    }
}





/*    media querie start sida*/

@media(max-width:900px){
   
    body{
        width: 110%;
        height: 100dvh;
         background-color: rgb(189, 194, 202);

    
    
    }
    .menu img{
     width:70px;
     height: 60px;
     
    }
    .menu{
        width: 100%;
        
    }
   
   
  
    .icon{
        margin-right: 10px;
    }
    
    .wrapper{
        width:100%;
        height: 100%;
      }
    
    .head h1{
        font-size: 1.5rem;
    
    }
    
    .container{
        background-image: url("./img/startbackground.png");
        
        background-repeat: no-repeat;
        background-size: cover;
        background-position:19%;
        width: 150%;
        height: 150dvh;
    }
    .head p{
        font-size: 1rem;
    
    }
    
  
  
    footer{
        background-color: gray;
        border-top: 1px solid black;
        width: 150%;
    }
    .icon{
        display: flex;
    }
 
     /*    media querie  om oss*/

/*  om oss styla */
.container-om-oss{
    width: 150%;
    height: 30%;
    background-image: url("./img/om oss background.png");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 70%;


}

.header-om-oss{
    width:70%;
   
    /* left:700px; */
}
.header-om-oss h1{
    font-size: 1.5rem;
    text-transform: capitalize;

    
}
.header-om-oss p{
    font-size: 1rem;
 
width: 80%;


}

.section-two-om-oss{
    width: 150%;
   
}


.om-oss p{
    width:70%;
}

.vår-historia p{
    width:70%;
}
.container-two-om-oss{
    width: 150%;

}

/*     media queri produkter sida */



.container-produkter{
    width:150%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.section-produkter{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

gap:20px;

}
.foto{
    width: 100%;
    height: 450px;
}
.foto img{
    width:70%;
    height:70%;
}

.container-produkter h1{
   font-size: 1rem;
   width: 70%;
 display: flex;
 justify-content: center;
 align-items: center;

}

     /*    media querie  kontakt*/



/* kontakt sida */


/* kontakt sida */
.wrapper-kontakt{
    background-image: url("./img/kontakt\ background.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.container-kontakt-sida{
    height: 140dvh;
    width: 150%;
}
.section-kontakt-sida{
    height: 100%;
width: 100%;    
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-kontakt-sida h1{
    font-size: 2.5rem;
   
}

.section-kontakt-sida ul{
  
width:70%;
   flex-direction: column;
   background-color: white;
   display: flex;
   align-items: center;
   padding: 20px 0px;


   gap:15px;

}

.section-kontakt-sida li{

font-size: 1rem;

line-height: 2;
padding: 20px;

}
.section-kontakt-sida li:hover{
    transform: translateY(-10px) scaleY(1.2);
    transition: 1s 0s ease-in-out;
    color: red;
}
    /* media querie referense */

.wrapper-ref{    
    
    height: 150dvh;
    width: 150%;

}
.container-refenser{
    height: 100dvh;
    width: 100%;
  }
.section-one-referense{
height: 90%;
width: 100%;

gap: 5px;

}

.foretag-logo{
    height: 12%;
width: 50%;
display: flex;
flex-wrap: wrap;
justify-content: center;
flex-direction: column;



}

.foretag-logo img{
    height: 80%;
    width: 80%;
}

@keyframes circle{
    0%{
       transform: translateY(0%) scale(0);

    }
    100%{
        transform: translateY(150dvh) scale(1);

    }
}



}

  