*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100dvh;
    background-color: rgb(187,193,202);
}
.menu img{
 width:200px;
 height: 60px;
 margin-left: 10px;
 
}
.menu{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid black;
}
.menu ul{
    display: flex;
    list-style-type: none;
}
.menu li{
    width:100px;
    text-align: center;
}
.menu li a{
    color:black;
    text-decoration: none;
    display:block;
    padding: 12px;
    margin: 5px;
}
.menu li a:hover{
    color: bisque;
}
.icon{
    margin-right: 10px;
}
.section1{
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.head{
text-transform: capitalize;
flex-direction: column;
justify-content: center;
align-items: flex-start;
display: flex;
height: 400px;
width: 50%;
position: relative;
left:20%;
top:70%;
gap:20px;
}
.head h1{
    font-size: 4rem;
    


}

.container{
    background-image: url("./img/startbackground.png");
    width:100dvw;
    height: 1000px;
}
.head p{
    font-size: 1.1rem;
    line-height: 1.5;

}

.button{
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    
}
button[type="button"]{
    background: black;
    color: white;
    border-radius: 20px;
    width: 100px;
    height: 30px;
} 
button[type="button"]:hover{
    background-color: red;
}
.copy-rigth{
    height: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
footer{
    background-color: gray;
    border-top: 1px solid black;
}
footer h2{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-bottom{
    position: relative;
    top:-50px;
}
/*  om oss styla */
.container-om-oss{
    width: 100dvw;
    height: 1000px;
    background-image: url("./img/om oss background.png");

}
.section-one-om-oss{
    width:100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-om-oss{
    width:30%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:20px;
    /* left:700px; */
}
.header-om-oss h1{
    font-size: 3rem;
    text-transform: capitalize;
    height: 100px;

    
}
.header-om-oss p{
    font-size: 1.1rem;
    line-height: 1.6;
    text-transform: capitalize;
    /* width: 50%; */
height: 100px;


}

.section-two-om-oss{
    background-color: white;
    width: 100dvw;
    height: 700px;
    opacity: 0.5;
}